
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=something==,something==,something==,something==
API_TOKEN_SALT=something==
ADMIN_JWT_SECRET=something==
TRANSFER_TOKEN_SALT=something==
ENCRYPTION_KEY=something==
REFRESH_JWT_SECRET=something==
JWT_SECRET=something==

# Database
DATABASE_CLIENT=postgres
DATABASE_PORT=5432
DATABASE_NAME=base_v5
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
DATABASE_FILENAME=

#URLs
PRODUCTION_URL="https://strapi.example.com"
FRONTEND_URL="https://example.com"
PREVIEW_SECRET="your-preview-secret"

## SMTP
EMAIL_PROVIDER='sendmail' #sendgrid/nodemailer/sendmail
SENDGRID_API_KEY='only_for_local_testing'
EMAIL_DEFAULT_FROM='someone@tentwenty.me'
EMAIL_DEFAULT_TO='someone@tentwenty.me'
SMTP_HOST=''
SMTP_PORT=587
SMTP_USERNAME=''
SMTP_PASSWORD=''

#Upload
UPLOAD_PROVIDER='' #cloudflare-r2 / aws-s3 / local
#Upload Cloudflare R2
CF_ACCESS_KEY_ID=''
CF_ACCESS_SECRET=''
CF_ENDPOINT=''
CF_BUCKET=''
CF_PUBLIC_ACCESS_URL=''

#Upload AWS S3
AWS_ACCESS_KEY_ID=''
AWS_ACCESS_SECRET=''
AWS_REGION=''
AWS_ACL=''
AWS_SIGNED_URL_EXPIRES=''
AWS_BUCKET=''
CDN_URL=''
CDN_ROOT_PATH=''

#Build Options
ENABLE_BUILD_ID=true
BUID_GIT_DIR="pth to git if not in root"

#formidable plugin
CSR_SECRET_KEY='something=='
