
REDIRECTS_ENDPOINT=http://127.0.0.1:1337/api/redirects?pagination[start]=0&pagination[limit]=1000
TRANSLATIONS_ENDPOINT=http://127.0.0.1:1337/api/translations?pagination[start]=0&pagination[limit]=1000

NEXT_PUBLIC_API_REVALIDATE=0
NEXT_PUBLIC_PAGE_REVALIDATE=0
NEXT_PUBLIC_SITE_URL='http://localhost:3000'
NEXT_PUBLIC_API_URL='http://localhost:1337'
NEXT_PUBLIC_MEDIA_URL='http://localhost:1337'
NEXT_PUBLIC_GOOGLE_MAPS_APIKEY=''

X_API_KEY="web"

DEBUG=*
# IS_UAT=1